@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

h1{
  font-family: 'BD Colonius', Regular;
  }
h2{
  font-family: 'Cochin', Regular;
  }
h3{
  font-family: 'Courier New', Regular;
  }
h4{
  font-family: 'SangBleu Kingdom Trial', Regular;
  }
h5{
  font-family: 'Agentur Regular', Regular;
  }
h6{
  font-family: 'Adobe Jenson Regular Small Caps', Regular;
  }
h7{
  font-family: 'Bruna', Regular;
  }
h8{
  font-family: 'DIN Condensed Bold', Bold;
}
